body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#numbers-container {
    display: flex;
    margin-bottom: 20px;
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}